body {
    width: 100%;
  background-color: #171717;
  /* animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1; */
}

/* #background {
  background-image: url(img/IMG_2738.jpg);
  height: 100vh;
  width: 100vw;
  position: fixed;
  background-size: cover;
  background-position: center;
} */

* {
  font-family: 'Montserrat', sans-serif;
}
  
/* mobile */
  @media (max-width: 800px) {
    html, body {
    overflow-x: hidden;
    }
  }

  #hero {
    max-width: 100%;
  }

  
