body {
  background-color: #171717;
  overflow-x: hidden;
  /* animation: fadeInAnimation ease 3s;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
        }
        @keyframes fadeInAnimation {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1; */
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y;
  }
  
/* mobile */
  @media (max-width: 800px) {
    html, body {
    overflow-x: hidden;
    }
  }

